<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <a class="navbar-brand" href="#">PMUY Scheme</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a routerLink="/apply" routerLinkActive="active" class="nav-link">Apply</a>
      </li>
      <li class="nav-item">
        <a routerLink="/status/123456789012" routerLinkActive="active" class="nav-link">Check Status</a>
      </li>
      <li class="nav-item">
        <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a>
      </li>
    </ul>
  </div>
</nav>
